/*csslint ids: false*/


/****************************************
GENERAL
****************************************/
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
/* max-width is related to width, but instead of width, max-width that it can be smaller for mobile devices/tablets. */
    max-width: 940px;
/* Margin 0 is for all sides. */
    margin: 0 auto;
/* Values first one is top and bottom, second one is left and right. */
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/****************************************
HEADER
****************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo{
/* Our name and description of who we are... */
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    /* 1st value is for top. 2nd value is for left and right. 3rd value is for the bottom. */
    margin: 15px;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}

/****************************************
NAVIGATION
****************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
    
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
    
}

/****************************************
FOOTER
****************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: blue;
    clear: both;
}

.social-media-icon {
    width: 25px;
    height: 20px;
    margin: 0 5px;
}

/***************************************
PAGE PORTFOLIO
***************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: black;
    color: white;    
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: red;
}

/***************************************
ABOUT ME PAGE PORTFOLIO
***************************************/
.profile_photo {
    display: block;
    max-width: 30px;
    border-radius: 15%;
}

/***************************************
CONTACT PAGE
***************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 28px;
    /* By default it will always repeat, background images. */
    background-repeat: no-repeat;
    /* Re-size the background img. */
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 30px;
}

.contact-info li.mail a {
    background-image: url('../img/Thing.jpg');
}
.contact-info li.mail a {   
    background-image: url('../img/Thing.jpg');
}

/***************************************
COLORS
***************************************/
body {
    background-color: black;
    color: red;

}

a {
    color: red;
} 

header {
    background: white;   
}

h1, h2{
    color: red;       
}

nav{
   background-color: black;
}
/* Pseudo-Class */
nav a, nav a:visited {
    color: red;  

}

nav a.selected, nav a:hover {
    color: white;

}
/****************************************
Media Querie
****************************************/
/* TWO COLUMN LAYOUT */

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
/* THREE COLUMN LAYOUT PORTFOLIO */
    #gallery li{
        width: 28.3333%;
    }
/* ABOUT PAGE */
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }    
}

@media screen and (min-width: 660px){
/* NAV */
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}